# tensorflow
# numpy
# matplotlib
# scikit-learn
# tabulate


tensorflow==2.13.0
numpy==1.22.0
matplotlib
scikit-learn==1.3.2
tensorflow[and-cuda]
prettytable
image-classifiers==0.2.2
git+https://github.com/qubvel/classification_models.git


